.hexagon{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.hexagon_mini{
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/* .grid > div:nth-child(3n){
    background-color: black;
    
} */



/* .grid{
    grid-template-columns: 2;
    grid-template-rows: repeat(5,auto);
    grid-auto-flow: column ;
} */


